<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>

    <script src="../static/js/app.js"></script>
    <script src="../static/js/getDates.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link href="../static/css/mobiscroll.jquery.min.css" rel="stylesheet">
    <script src="../static/js/mobiscroll.jquery.min.js"></script>
    <script src="../static/js/d3.js"></script>


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <form>
                        <h6>Enter your information and click submit</h6>
                        Date and Time (click to choose a date)<br>
                        <input class="form-control" id="dateSelect" type="text">
                        <p></p>
                        Name<br>
                        <input class="form-control" id="fullName" type="text">
                        <p></p>
                        Email<br>
                        <input class="form-control" id="emailAddress" type="text">
                        <input type="button" value="Submit" onclick="myFunction()">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //function dateArray() {


        var datesAPI = []
            // fetch("https://savvy-booking.herokuapp.com/api/v1.0/confirmed_dates")
            //     .then(response => response.json())
            //     .then(function(result) {
            //         console.log(d3.values.date_range(result))
            //         for (var i = 0; i < result.length; i++) {
            //             datesAPI.push(result[i])
            //         }
            //         console.log(datesAPI)
            //             //return (datesAPI)
            //     })
            //     .catch(error => console.log('error', error));

        //console.log(d3.values(datesAPI));
        //}

        d3.json("https://savvy-booking.herokuapp.com/api/v1.0/confirmed_dates", function(data)

            {
                console.log(data.values)
            });



        $('#dateSelect').mobiscroll().datepicker({
            controls: ['calendar', 'timegrid'],
            min: '2021-11-26T00:00',

            max: '2022-05-26T00:00',
            minTime: '08:00',
            maxTime: '16:59',
            stepMinute: 60,
            // example for today's labels and invalids
            // labels: [{
            //     start: '2021-11-25',
            //     textColor: '#e1528f',
            //     title: '1 SPOTS'
            // }],
            invalid: [

                datesAPI, {
                    recurring: {
                        repeat: 'weekly',
                        weekDays: 'SA,SU'
                    }

                }
            ]
        });
    </script>




</body>


</html>